target
*.idea/
.idea/
*.idea
.idea
target/
.classpath
.project
.settings/
.springBeans
.metadata/
*.ipr
*.iws
*.iml
../.idea/
*.swp
*.swo
*.swn
*.DS_Store
logs
test
wxpy_linux
*.vscode/
__pycache__/
*.__pycache__/
././__pycache__/
