target/
.classpath
.project
.settings/
.springBeans
.metadata/
*.ipr
*.iws
*.iml
.idea/
.idea
../.idea/
*.swp
*.swo
*.swn
*.DS_Store
logs
wxpy_linux
ai_interface/log_app.out
ai_interface/start.sh
.vscode/